@import "../../../styles.scss";

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}
.mat-card {
    display: flex;
    background-color: mat-color($audit-primary, lighter);
    margin: 10px;
    &:hover {
        background-color:  mat-color($audit-primary, darker);
        color: white;
    }
}