h1{
    margin:  10px 0 10px 0;
    font-weight: bold;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    mat-form-field {
        width: 100%;
        input{
            width: 100%;
        }
    }
    &  div{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        .radioControl{
            display: flex;
            flex-direction: column;
            mat-radio-group{
                display: flex;
                flex-direction: column;
            }
            padding: 10px 0 10px 0;
        }
    }
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    button{
        margin: 5px;
    }
}
