<h2  *ngIf="project">{{project.projectInfo.productiveUnit}}</h2>

<mat-horizontal-stepper *ngIf="themas" linear="false" #stepper>
    <mat-step  *ngFor="let thema of themas">
        <ng-template matStepLabel>{{thema.name}}</ng-template>
        <form action=""  class="form">
            <score-question *ngFor="let question of thema.questions" [question]="question">
            </score-question>
        </form>
        <div class="buttons">
            <button mat-button matStepperNext type="button">Next</button>
        </div>
    </mat-step>
    <mat-step label="Capacities and needs">
        <!-- <form action="" [formGroup]="capacitiesAndNeedsForm" class="form"></form> -->
        <div class="buttons">
        <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-raised-button color="primary"> 
                Save
            </button>
        </div>
    </mat-step>
</mat-horizontal-stepper>