<div class="add-project">
  <button mat-fab color="primary" [routerLink]="['create/1']">
    <mat-icon>add</mat-icon>
  </button>
</div>
 
  <div class="project-list">
      <mat-card  *ngFor="let project of projects" class="project-item">
        <mat-card-header>
          <mat-card-title> <h2>{{project.name}}</h2></mat-card-title>
          <mat-card-subtitle><p>{{project.country}} - {{project.province}}</p></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{project.producer}}</p>
          <p>{{project.contact}}</p>
        </mat-card-content>
      </mat-card>
  </div>